
@font-face {
    font-family: 'times_sans_serifregular';
    src: url('timess__.woff2') format('woff2'),
         url('timess__.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futuratmedregular';
    src: url('futura_urw_medium.woff2') format('woff2'),
         url('futura_urw_medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3,{
    font-family: 'timess__.woff', sans-serif;
}

h4, h5, h6{
   font-family: 'futura_urw_medium.woff', sans-serif;
}

a,p{
    font-family: 'futura_urw_medium.woff', Helvetica, sans-serif;
    text-decoration: none;
    line-height: 1.8;
}
